In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os
import json
from pandas import json_normalize
# pd.__version__

In [2]:
topic_file = '/Users/bew/Downloads/DataForThai_Pandas&SubTopic/SubTopic_dataforthai.csv'
topic_table = pd.read_csv(topic_file)


topic_table['รหัส'] = topic_table['รหัส'].astype(str)
# Function to add '0' to strings of length 4
def add_zero(s):
    if len(s) == 4:
        return '0' + s
    else:
        return s
# Applying the function to the DataFrame
topic_table['รหัส'] = topic_table['รหัส'].apply(lambda x: add_zero(x))


# topic_table.dtypes
topic_table = topic_table[608:628] # 
# topic_table = topic_table[topic_table['รหัส']=='46101']
# print(topic_table)
# max(topic_table['จำนวนหน้า'])
topic_table

,รหัส,ประเภทธุรกิจ,จำนวน,จำนวนหน้า
608,46101,การขายส่งวัตถุดิบทางการเกษตรและสัตว์มีชีวิตโดย...,1177,3
609,46102,การขายส่งอาหารเครื่องดื่มและยาสูบโดยได้รับค่าต...,1933,5
610,46103,การขายส่งสิ่งทอเสื้อผ้ารองเท้าเครื่องหนังและขอ...,2544,7
611,46104,การขายส่งคอมพิวเตอร์และซอฟต์แวร์อุปกรณ์อิเล็กท...,1004,3
612,46105,การขายส่งเครื่องจักรอุตสาหกรรมโดยได้รับค่าตอบแ...,984,3
613,46106,การขายส่งเชื้อเพลิงสินแร่โลหะโดยได้รับค่าตอบแท...,292,1
614,46107,การขายส่งวัสดุที่ใช้ในการก่อสร้างผลิตภัณฑ์โลหะ...,952,3
615,46108,การขายส่งสินค้าเฉพาะอย่างอื่นๆซึ่งมิได้จัดประเ...,734,2
616,46109,การขายส่งสินค้าทั่วไปโดยได้รับค่าตอบแทนหรือตาม...,7485,19
617,46200,การขายส่งวัตถุดิบทางการเกษตรและสัตว์มีชีวิต,1,1
618,46201,การขายส่งข้าวเปลือกและธัญพืชอื่นๆ,1589,4
619,46202,การขายส่งพืชน้ำมันที่ใช้ในการผลิตน้ำมันพืช,219,1
620,46203,การขายส่งยาสูบที่ยังไม่เป็นผลิตภัณฑ์สำเร็จรูป,14,1
621,46204,การขายส่งสัตว์มีชีวิต,658,2
622,46205,การขายส่งดอกไม้ต้นไม้และเมล็ดพันธุ์พืช,777,2
623,46206,การขายส่งอาหารสัตว์,1507,4
624,46209,การขายส่งวัตถุดิบอื่นๆทางการเกษตรซึ่งมิได้จัดป...,3925,10
625,46300,การขายส่งอาหารเครื่องดื่มและยาสูบ,1,1
626,46310,การขายส่งอาหาร,2,1
627,46311,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,922,3

In [3]:
# topic_for_file = topic_table[topic_table['รหัส'] == no_topic]
# topic_for_file

In [4]:
# # Read JSON file
# file_path = f'/Users/bew/Downloads/WebScrapperFor_DataForThai/Target/01111.json'  # Replace with your file path

# df = pd.read_json(file_path)

# # # Load JSON data into DataFrame
# # df = json_normalize(json_data)  # Use pd.DataFrame(json_data) if the JSON is already flat

# # df['สถานะ'] = df['สถานะ'].astype("string")
# df.dtypes
# # df

In [5]:
import pandas as pd
import os

# Initialize an empty DataFrame for the result
result = pd.DataFrame()

lastId = "46101"
value = ""

for index, row in topic_table.iterrows():
    
    value1 = row['รหัส']
    value2 = row['ประเภทธุรกิจ']
    
    if (int(value1) <= int(lastId)): continue
    
    # Construct the file path
    file_path = f'/Users/bew/Downloads/WebScrapperFor_DataForThai/Target/{value1}.json'
    
    # Check if the file exists
    if os.path.exists(file_path):
        try:
            # Read JSON file
            df = pd.read_json(file_path)
            
            # Add a new column with the business type
#             df['ประกอบธุรกิจ'] = value2
            
            # Concatenate the current DataFrame to the result DataFrame
            result = pd.concat([result, df], axis=0)
        
        except ValueError as e:
            print(f"Error reading JSON file at {file_path}: {e}")
    else:
        print(f"File not found: {file_path}")
    value = value1

print(f"lastId = {value1}")

File not found: /Users/bew/Downloads/WebScrapperFor_DataForThai/Target/46200.json
File not found: /Users/bew/Downloads/WebScrapperFor_DataForThai/Target/46203.json
File not found: /Users/bew/Downloads/WebScrapperFor_DataForThai/Target/46300.json
File not found: /Users/bew/Downloads/WebScrapperFor_DataForThai/Target/46310.json
lastId = 46311

In [6]:
# Reset the index of the final result DataFrame
result = result.reset_index(drop=True)

# result

In [7]:
result.columns.tolist()

result['เบอร์โทร'] = np.nan
# new_order = ['เลขทะเบียน', 'ชื่อบริษัทภาษาไทย', 'ชื่อบริษัทภาษาอังกฤษ', 'ประกอบธุรกิจ', 'หมวดธุรกิจ', 'สถานะ',
#              'วันที่จดทะเบียน', 'ทุนจดทะเบียน', 'ที่ตั้ง', 'ข้อมูลสำหรับการติดต่อ', 'เบอร์โทร', 'Website', 'ก่อตั้งโดย',
#              'หลักทรัพย์', 'ที่มา', 'สมัครงาน / ดูตำแหน่งงานว่าง', 'วันที่ร้าง', 'วันที่เลิก']
# result = result[new_order]
# result

In [8]:
# for index, row in topic_table.iterrows():
    
#     value1 = row['รหัส']
#     value2 = row['ประเภทธุรกิจ']
    
#     # Read JSON file
#     file_path = f'/Users/bew/Downloads/WebScrapperFor_DataForThai/Target/{value1}.json'  # Replace with your file path

#     df = pd.read_json(file_path)
    
#     df['ประกอบธุรกิจ'] = value2
    
#     result = pd.concat([result, df], axis=0)
    
    
# result

In [9]:
# result = result.drop(columns=['สมัครงาน / ดูตำแหน่งงานว่าง', 'วันที่ร้าง', 'หลักทรัพย์'])

result = result.applymap(str)
# result['เลขทะเบียน'] = result['เลขทะเบียน'].map(str)
# result['สถานะ'] = result['สถานะ'].astype("string")


# Step 1: Remove commas from the strings
result['ทุนจดทะเบียน'] = result['ทุนจดทะเบียน'].str.replace(',', '')
result['ทุนจดทะเบียน'] = result['ทุนจดทะเบียน'].str.replace(' บาท', '')
# Step 2: Convert the strings to numeric type (int or float)
result['ทุนจดทะเบียน'] = pd.to_numeric(result['ทุนจดทะเบียน'])

result.dtypes

เลขทะเบียน                     object
ประกอบธุรกิจ                   object
หมวดธุรกิจ                     object
สถานะ                          object
วันที่จดทะเบียน                object
ทุนจดทะเบียน                    int64
Website                        object
ก่อตั้งโดย                     object
ที่ตั้ง                        object
ชื่อบริษัทภาษาอังกฤษ           object
ชื่อบริษัทภาษาไทย              object
ข้อมูลสำหรับการติดต่อ          object
ที่มา                          object
สมัครงาน / ดูตำแหน่งงานว่าง    object
ข้อมูลสำหรับติดต่อ             object
วันที่เลิก                     object
เสร็จชำระบัญชี                 object
หลักทรัพย์                     object
วันที่ร้าง                     object
ศาลสั่งพิทักษ์ทรัพย์           object
เบอร์โทร                       object
dtype: object

In [10]:
result = result[result['สถานะ']=='ยังดำเนินกิจการอยู่']
result = result[(result['ทุนจดทะเบียน'] >= 30000000)]

# def get_length(obj):
#     try:
#         return len(obj)
#     except TypeError:
#         return None

# for text in result['ทุนจดทะเบียน']:
#     print(text.apply(get_length))

# for index, row in result.iterrows():
    
#     value1 = row['เลขทะเบียน']
#     if value1.apply(len) != 13:
#         value1 = "0" + value1.astype(str)

result['เลขทะเบียน'] = "'0" + result['เลขทะเบียน'].astype(str)
# # Function to add '0' to strings of length 13
# def add_zero(s):
# #     s = str(s)  # Ensure the input is a string
#     if len(s) == 14:
#         return '0' + s
#     else:
#         return s

# # Applying the function to the DataFrame
# result['เลขทะเบียน'] = result['เลขทะเบียน'].apply(lambda x: add_zero(x))

# # Reset the index of the final result DataFrame
# result = result.reset_index(drop=True)

# result.dtypes

In [11]:
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' มกราคม ','/1/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' กุมภาพันธ์ ','/2/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' มีนาคม ','/3/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' เมษายน ','/4/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' พฤษภาคม ','/5/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' มิถุนายน ','/6/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' กรกฎาคม ','/7/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' สิงหาคม ','/8/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' กันยายน ','/9/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' ตุลาคม ','/10/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' พฤศจิกายน ','/11/')
result['วันที่จดทะเบียน'] = result['วันที่จดทะเบียน'].str.replace(' ธันวาคม ','/12/')

In [12]:
result = result.reset_index(drop=True)
result

,เลขทะเบียน,ประกอบธุรกิจ,หมวดธุรกิจ,สถานะ,วันที่จดทะเบียน,ทุนจดทะเบียน,Website,ก่อตั้งโดย,ที่ตั้ง,ชื่อบริษัทภาษาอังกฤษ,...,ข้อมูลสำหรับการติดต่อ,ที่มา,สมัครงาน / ดูตำแหน่งงานว่าง,ข้อมูลสำหรับติดต่อ,วันที่เลิก,เสร็จชำระบัญชี,หลักทรัพย์,วันที่ร้าง,ศาลสั่งพิทักษ์ทรัพย์,เบอร์โทร
0,'0735559001809,ประกอบกิจการนำเข้า เพื่อขายส่ง ขายปลีก เห็ดหอม...,การขายส่งวัตถุดิบทางการเกษตรและสัตว์มีชีวิตโดย...,ยังดำเนินกิจการอยู่,21/3/2559,30000000,https://www.wantai2016.com,"กรรมการ: นางสาวสุจิตรา ทารส, นายหมิ่นเจี๋ย หลี่",80/19 หมู่ที่ 1 ตำบลบ้านเกาะ อำเภอเมืองสมุทรสา...,WANTAI INTERNATIONAL TRADING COMPANY LIMITED,...,False,https://www.dataforthai.com/company/0735559001...,nan,nan,nan,nan,nan,nan,nan,nan
1,'0105558103051,ประกอบธุรกิจนำเข้า-ส่งออก สินค้าเกษตร,กิจกรรมของตัวแทนผู้รับจัดการขนส่งสินค้าและตัวแ...,ยังดำเนินกิจการอยู่,24/6/2558,30000000,nan,"กรรมการ: นายซิวกุมาร ซิงห์, นางสาววาริณี ซิงห์",16/180 ซอยเคหะคลองเตย 3 แขวงคลองเตย เขตคลองเตย...,ASIAN IMPORT & EXPORT COMPANY LIMITED,...,False,https://www.dataforthai.com/company/0105558103...,ดูตำแหน่งงานจาก JOBTHAI,nan,nan,nan,nan,nan,nan,nan
2,'0105562108924,,การขายส่งอาหารเครื่องดื่มและยาสูบโดยได้รับค่าต...,ยังดำเนินกิจการอยู่,21/6/2562,65000000,http://www.want-want.com/en/,"กรรมการ: นายไช่ เช่า จง, นายไช่ วั่ง เจีย, นาย...",19 ซอยสาทร 9 แขวงยานนาวา เขตสาทร กรุงเทพมหานคร...,WANT WANT CORPORATION (THAILAND) LTD.,...,False,https://www.dataforthai.com/company/0105562108...,ดูตำแหน่งงานจาก JOBSDB,nan,nan,nan,nan,nan,nan,nan
3,'0115564005332,,การขายส่งอาหารเครื่องดื่มและยาสูบโดยได้รับค่าต...,ยังดำเนินกิจการอยู่,24/2/2564,100000000,nan,"กรรมการ: นายอิทธิเชฏฐ์ เตชะไกรศรี, นายเฮจิโร่ ...",26/60 หมู่ที่ 7 ถนนกิ่งแก้ว ตำบลราชาเทวะ อำเภอ...,"ASANO SK GINGER CO., LTD.",...,False,https://www.dataforthai.com/company/0115564005...,nan,nan,nan,nan,nan,nan,nan,nan
4,'0105480000011,เป็นผู้ผลิตและจำหน่ายปลีก - ส่งอาหารสด อาหารแห...,กิจกรรมของบริษัทโฆษณา,ยังดำเนินกิจการอยู่,8/1/2480,122100000,nan,"กรรมการ: นายเฟเบียน อเล็กซานเดร เรย์ชาล, นายโท...",1168/3-4 อาคารลุมพินีทาวเวอร์ ชั้น 2 ถนนพระราม...,THE COMMERCIAL COMPANY OF SIAM COMPANY LIMITED,...,False,https://www.dataforthai.com/company/0105480000...,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,'0205535002974,ขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,ยังดำเนินกิจการอยู่,9/6/2535,110000000,nan,"กรรมการ: นายซำ อิทธิปาลกุล, นายภูษิต อิทธิปาลก...",569-571 ถนนพิพิธ ตำบลบ้านโขด อำเภอเมืองชลบุรี ...,"YOO SOONG INDUSTRY CO., LTD.",...,False,https://www.dataforthai.com/company/0205535002...,nan,nan,nan,nan,nan,nan,nan,nan
474,'0735558003506,ประกอบกิจการขายชิ้นส่วนหมูสดทั้งปลีกและส่ง,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,ยังดำเนินกิจการอยู่,22/6/2558,120000000,nan,"กรรมการ: นางประภาวดี เตียงลัดดาวงศ์, นายปฐมพงศ...",99 หมู่ที่ 8 ตำบลบ่อพลับ อำเภอเมืองนครปฐม จ.นค...,SINCERE FRESH FOOD COMPANY LIMITED,...,False,https://www.dataforthai.com/company/0735558003...,nan,nan,nan,nan,nan,nan,nan,nan
475,'0105532084679,ขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์ขายปลีกเ...,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,ยังดำเนินกิจการอยู่,8/9/2532,120000000,nan,"กรรมการ: นายเจริญ รุจิราโสภณ, นางนิรมล รุจิราโ...",71/14 หมู่ที่ 6 ตำบลท่าทราย อำเภอเมืองสมุทรสาค...,"S K K FOOD CO.,LTD.",...,False,https://www.dataforthai.com/company/0105532084...,nan,nan,nan,nan,nan,nan,nan,nan
476,'0705560003992,เลี้ยงสุกรเพื่อจำหน่าย,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,ยังดำเนินกิจการอยู่,22/12/2560,180000000,nan,"กรรมการ: นายธวัชชัย โฆษิตกิตติวณิชย์, นายวรินท...",106 หมู่ที่ 3 ตำบลอ่างหิน อำเภอปากท่อ จ.ราชบุร...,TWC FARM COMPANY LIMITED,...,False,https://www.dataforthai.com/company/0705560003...,ดูตำแหน่งงานจาก JOBTHAI,nan,nan,nan,nan,nan,nan,nan
477,'0105534014058,จำหน่ายสินค้าแปรรูปและไม่แปรรูปจากเนื้อสัตว์,การขายส่งเนื้อสัตว์และผลิตภัณฑ์เนื้อสัตว์,ยังดำเนินกิจการอยู่,12/2/2534,200000000,nan,"กรรมการ: นางสาวอรพินท์ คณาธนะวนิชย์, นายวิชัย ...",1126/1 อาคารวานิช ถนนเพชรบุรีตัดใหม่ แขวงมักกะ...,L.T.C. AGRO COMPANY LIMITED.,...,False,https://www.dataforthai.com/company/0105534014...,nan,nan,nan,nan,nan,nan,nan,nan

In [13]:
# result.dtypes

In [14]:
file = '/Users/bew/Downloads/test_ote.csv'
df = pd.read_csv(file)

df_updated = pd.concat([df, result], ignore_index=True)
df_updated = df_updated.drop_duplicates()
df_updated = df_updated.reset_index(drop=True)

df_updated.dtypes
df_updated

In [15]:
# result[result['เลขทะเบียน'].str.len() != 13]

In [16]:
# result

In [17]:
file_name = 'test_ote.csv'
file_path = '/Users/bew/Downloads/'

# Combine the file path and file name
full_path = os.path.join(file_path, file_name)

# result.to_csv(full_path, sep=',', index=False, header=True, encoding='utf-8') # รอบ 1
df_updated.to_csv(full_path, sep=',', index=False, header=True, encoding='utf-8') # รอบ 2+

print('finish')

finish

In [18]:
# # Step 1: Remove commas from the strings
# df['Capital'] = df['Capital'].str.replace(',', '')

# # Step 2: Convert the strings to numeric type (int or float)
# df['Capital'] = pd.to_numeric(df['Capital'])

# # Display the DataFrame to verify the changes
# df